NODE_ENV=development
# NODE_TLS_REJECT_UNAUTHORIZED=0

NEXT_PROTOCOL=http
NEXT_HOSTNAME=localhost:3000
NEXT_PUBLIC_HOST=$NEXT_PROTOCOL://$NEXT_HOSTNAME

NEXTAUTH_SECRET=keyboardcat
NEXTAUTH_URL=$NEXT_PROTOCOL://$NEXT_HOSTNAME/api/auth

NEXT_PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_TOKEN=
DISCORD_CLIENT_API=http://localhost:3001

MONGODB_URI=