.container {
	height: 200vh;
	display: flex;
	
	background-image: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%),
		url('https://e1.pxfuel.com/desktop-wallpaper/230/590/desktop-wallpaper-2-lofi-anime-aesthetic-ipad-lofi-sunset-anime.jpg');
	background-size: 100vw;
  background-blend-mode: multiply;
	flex-direction: column;
}

.grid {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-areas: 'left center right';
}

.center {
	color: white;
	padding: 2rem;
	align-items: center;
}

.body {
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

.header {
	margin-top: auto;
}

.subheader {
	width: 50%;
	color:#c9c9c9;
	text-align: center;
}

.categories {
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
}

.categories li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.categories li:first-child {
  padding-left: 5;
}

.categories li:hover {
  cursor: pointer;
  border-color: white;
  border-width: 0 0 2px 0;
  border-style: solid;
  margin-bottom: -1px;
}

.commands {
  margin: 5px;
}

.commands li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgb(155, 126, 196);
	border-radius: 5px;
}

.footer {
	margin-top: -100px;
	width: 100%;
	height: 100vh;
}